/node_modules
/public/hot
/public/storage
/public/services
/storage/*.key
/storage/debugbar
/storage/framework/cache
/vendor
/.idea
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
.php_cs.cache
composer.lock
