/node_modules
/public/hot
/public/storage
/public/services
/public/ipa/*.ipa
/storage/*.key
/storage/debugbar
/storage/framework/cache
/storage/logs
/vendor
/.idea
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
.php_cs.cache
composer.lock
storage/logs/laravel.log
